#containerLeft {
  background-color: rgba(241, 171, 21, 1);
  background-image: url("");
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 450px;
  height: 450px;
  color: white;
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  /* box-shadow: 10px 10px 5px gray; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 767px) {
  #containerLeft {
    display: none;
  }
}
